<h1>Asameshimae Items</h1>
<h2>Find yours and have fun!!</h2>

<nav id='navigation-menu' class='block'>
  <ul id='menu-list'>
    <li><a href='#introduce'>top</a></li>
    <li><a href='#lookbook'>lookbook</a></li>
    <li><a href='#item'>item</a></li>
    <li><a href='#contact'>contact</a></li>
  </ul>
</nav>

<%= @items.each do |item| %>
<%= image_tag("#{item.image}", :size => "300x300") %>
<%= item.name%>
<% end %>
