body {
  text-align: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-seri;
}

#top-logo {
  padding-top: 30px;
}

#navigation-menu {
  ul {
    list-style: none;
  }

  #menu-list {
    overflow: hidden;

    .nav-item {
      display: table-cell; 
      text-align: center;
      vertical-align: middle;
    }
  }
}

.block {
  padding: 30px 30px;
}

.title {
  font-size: 50px;
}

footer {
  padding-bottom: 30px;
}