body {
  text-align: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-seri;
}

#top-logo {
  padding-top: 30px;
}

#navigation-menu {
  
  #menu-list {
    overflow: hidden;
    list-style: none;

    li {
      width: 100px;
      text-align: center;
      padding-right: 100px;
      font-size: 30px;
      display: inline-block;
    }

    li a {
      display: block;
      color: black;
    }
  }
}

.block {
  padding: 30px 30px;
}

.title {
  font-size: 50px;
}

footer {
  padding-bottom: 30px;
}

.field {
  background-color: whitesmoke;
}

.button {
  font-size: 15px;
}